<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Matematicón{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" media="screen">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta property="og:site_name" content="Matematicón" />
        <meta property="og:title" content='Matematicón: "Tu construcción geométrica."' />
        <meta property="og:url" content="{{ url('press_enter_matematicon_homepage') }}" />
        <meta property="og:description" content="Plataforma interactiva para crear objetos en tres escenarios virtuales." />
        <meta property="og:image" content="{{ url('press_enter_matematicon_homepage') }}img/logotipo_matematicon_fb.png" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

