<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Matematicon{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" media="screen">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta property="og:site_name" content="Matematicon" />
        <meta property="og:title" content="Matematicon: Tu construcción geométrica" />
        <meta property="og:url" content="http://matematicon.educ.ar" />
        <meta property="og:description" content="Plataforma interactiva para aprender geometría mediante intervenciones artísticas" />
        <meta property="og:image" content="http://matematicon.educ.ar/img/logotipo_matematicon_fb.png" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

