* {
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style: none;
    list-style-position: inside;
}
ul li,
ol li {
    padding: 0;
}
body {
    background: #2e220c;
    font-family: sans-serif;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
hr {
    height: .1px;
    visibility: hidden;
    clear: both;
}
/**
 * =WRAPPER
 */
div#wrapper {
    width: 960px;
    margin: 10px auto;
    border: 1px #6f624c solid;
}
/**
 * =wrapper_scene_select
 */
div#wrapper_scene_select {
    position: relative;
    width: 960px;
    margin: 30px auto 0;
}
/**
 * =scene_select_step1
 */
div#wrapper_scene_select div#scene_select_step1 div#scene-navigation {
    position: absolute;
    top: 0;
    left: 260px;
    width: 435px;
    height: 120px;
    background: #fff;
    text-align: center;
    color: #4D3925;
}
div#wrapper_scene_select div#scene_select_step1 div#scene-navigation p {
    width: 190px;
    font-size: 14px;
    margin: 20px auto;
}
div#wrapper_scene_select div#scene_select_step1 div#scene-navigation a#arrow-prev,
div#wrapper_scene_select div#scene_select_step1 div#scene-navigation a#arrow-next {
    display: block;
    margin-top: -30px;
}
div#wrapper_scene_select div#scene_select_step1 div#scene-navigation a#arrow-prev {
    float: left;
    margin-left: 10px;
}
div#wrapper_scene_select div#scene_select_step1 div#scene-navigation a#arrow-next {
    float: right;
    margin-right: 10px;
}
/**
 * =scene_select_step2
 */
div#wrapper_scene_select div#scene_select_step2 {
    height: 430px;
    background: url(../images/pattern-107x93.png);
}
div#wrapper_scene_select div#scene_select_step2 p {
    height: 60px;
    width: 435px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
    color: #4D3925;
    font-size: 14px;
    padding-top: 20px;
}
div#wrapper_scene_select div#scene_select_step2 div#positionObject {
    margin-top: 40px;
}
div#wrapper_scene_select div#scene_select_step2 div#scene2-buttons {
    margin: 20px auto 0;
    width: 310px;
}
div#wrapper_scene_select div#scene_select_step2 div#scene2-buttons a {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
}
div#wrapper_scene_select div#scene_select_step2 div#scene2-buttons a#boton-guardar-cambios {
    float: left;
    background: #80715C;
}
div#wrapper_scene_select div#scene_select_step2 div#scene2-buttons a#boton-cancelar {
    float: right;
    background: #80715C;
    background-color: rgba(128,113,92,0.5);
}
/**
 * =NAV-BAR
 */
div#nav-bar {
    padding: 10px 10px;
    color: #fff;
    font-size: 12px;
    background: #80715c;
    font-weight: bold;
}
div#nav-bar a:link,
div#nav-bar a:visited {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}
div#nav-bar a:hover {
    background: #fff;
    color: #2E220C;
}
/**
 * =SIDEBAR-LEFT
 */ 
div#sidebar-left {
    width: 390px;
    float: left;
}
div#sidebar-left h3 {
    font-size: 14px;
    padding: 10px 0 10px 30px;
    color: #fff;
    background: #4d3925;
}
/**
 * =SHAPE-SELECTOR
 */
ul#shape-selector {
    clear: both;
    background: #efe9db;
    border-left: 1px #fff solid;
    margin: 0 10px;
    height: 50px;
}
ul#shape-selector li {
    float: left;
    width: 48px;
    height: 48px;
    border: 1px #fff solid;
    border-left: none;
}
ul#shape-selector li a.selected {
    background: #675341;
    display: block;
    width: 48px;
    height: 48px;
}
/**
 * =SHAPES-LIST
 */
ul#shapes-list {
    background: #fff;
    padding: 20px;
}
ul#shapes-list li a {
    display: block;
    float: left;
}
ul#shapes-list li div.image_wrapper {
    float: left;
    width: 40px;
    padding-top: 10px;
}
ul#shapes-list li div.shape_parameters,
ul#shapes-list li div.shape_parameters_disabled {
    float: left;
    width: 90px;
}
ul#shapes-list li div.shape_parameters label,
ul#shapes-list li div.shape_parameters_disabled label {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
ul#shapes-list li div.shape_parameters input,
ul#shapes-list li div.shape_parameters_disabled input {
    width: 45px;
    background: #DFD3B7;
    color: #4D3925;
    border: none;
    padding: 3px;
}
ul#shapes-list li div.shape_parameters button,
ul#shapes-list li div.shape_parameters_disabled button {
    display: block;
    float: right;
}

/**
 * =APP-CONTENT
 */
div#app-content {
    background: url(../images/pattern-25x36.png);
    float: left;
    width: 570px;
}

div#decorationSelector {
    background-color: #fff;
}
div#decorationSelector h3 {
    color: #000;
    background-color: #fff;
}

div#texturesList {
    width: 370px;
    height: 150px;
    overflow: auto;
}

div#colorsList ul {
    text-align: center;
    list-style-type: none;
}

div#colorsList li {
    float: left;
}

div#colorsList ul li:nth-child(6n+7)
{
    clear: left;
    float: left;
}

/**
 * =GALLERY
 */
div#gallery-content {
    background: url(../images/pattern-25x36.png);
    float: left;
    width: 960px;
}

