<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title></title>
        <script src="scripts/require.js" data-main="scripts/crafting/crafting.js"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/estilos.css" />
    </head>
    <body ng-controller="CraftingToolCtrl">
        <div id="wrapper">
            <div id="nav-bar">
                <div class="float-left">
                    <a href="#">< Volver a la home</a> |
                    <a href="#">Videos de Orientación</a>
                </div>
                <div class="float-right">
                    <a href="#">GALERÍA</a> |
                    <a href="#">MIS OBJETOS</a> |
                    <a href="#">VER ESCENARIO</a>
                </div>
                <hr />
            </div>
            <div id="sidebar-left">
                <div id="newShapeSelector">
                    <h3>01. Elegí la forma</h3>
                    <ul id="shape-selector">
                        <li ng-repeat="shape in shapes">
                            <img src="assets/icons/{{ shape }}.png">
                            <button ng-click="showCreateShape(shape);">crear</button>
                        </li>
                    </ul>
                    <hr />
                </div> <!-- newShapeSelector -->
                <div id="shapesList">
                    <h3>02. Completá los valores</h3>
                    <ul id="shapes-list">
                        <li>
                            <div ng-if="new_shape_data.type == 'circle'">
                                <img src="assets/icons/circle_selected.png" />
                                <input type="number" ng-model="new_radius" />
                                <button ng-click="addCircle(new_radius)">ok</button>
                            </div>
                            <div ng-if="new_shape_data.type == 'rectangle'">
                                <img src="assets/icons/rectangle_selected.png" />
                                <input type="number" ng-model="new_width" />
                                <input type="number" ng-model="new_height" />
                                <button ng-click="addRectangle(new_width, new_height)">ok</button>
                            </div>
                            <div ng-if="new_shape_data.type == 'square'">
                                <img src="assets/icons/square_selected.png" />
                                <input type="number" ng-model="new_side" />
                                <button ng-click="addSquare(new_side)">ok</button>
                            </div>
                        </li>
                        <li ng-repeat="shape in drawing.shapes">
                            <div ng-if="shape.type == 'circle'">
                                <img src="assets/icons/{{ shape.type }}_selected.png" />
                                Radio {{ shape.radius }}
                                <div ng-if="edit_shape_data.index == $index">
                                <input type="number" ng-model="edit_shape_data.radius" />
                                <button ng-click="saveShapeChanges();">ok</button>
                                </div>
                                <button ng-click="editShape($index);">edit</button>
                            </div>
                            <div ng-if="shape.type == 'square'">
                                <img src="assets/icons/{{ shape.type }}_selected.png" />
                                Lado {{ shape.side }}u
                                <div ng-if="edit_shape_data.index == $index">
                                <input type="number" ng-model="edit_shape_data.side" />
                                <button ng-click="saveShapeChanges();">ok</button>
                                </div>
                                <button ng-click="editShape($index);">edit</button>
                            </div>
                            <div ng-if="shape.type == 'rectangle'">
                                <img src="assets/icons/{{ shape.type }}_selected.png" />
                                Base {{ shape.width }}u Altura {{ shape.height }}u
                                <div ng-if="edit_shape_data.index == $index">
                                <input type="number" ng-model="edit_shape_data.width" />
                                <input type="number" ng-model="edit_shape_data.height" />
                                <button ng-click="saveShapeChanges();">ok</button>
                                </div>
                                <button ng-click="editShape($index);">edit</button>
                            </div>
                        </li>
                    </ul>
                </div> <!-- shapesList -->
            </div> <!-- sidebar-left -->
            <div id="app-content">
                <div id="drawingArea">
                    <canvas id="canvas" width="500" height="500"></canvas>
                </div>
            </div>
            <hr />
        </div> <!-- WRAPPER -->
    </body>
</html>
