<!DOCTYPE html>
<html>
    <head>
        <title>Matematicon Engine Demo 1</title>
        <script src="scripts/require.js" data-main="scripts/crafting/crafting.js"></script>
    </head>
    <body ng-controller="CraftingToolCtrl">
        <h1>Matematicon Engine Demo 1</h1>
        <canvas id="canvas" width="500" height="500"></canvas>
        <ul>
            <li ng-repeat="shape in drawing._shapes">
                {{shape.x}}
            </li>
        </ul>
        <button ng-click="addShape()">agregar</button>
    </body>
</html>
